<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<appender name="BPS.EdOrg.Loader" type="log4net.Appender.RollingFileAppender">
			<file value="log\BPS.EdOrg.Loader.log"/>
			<encoding value="utf-8"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
			</layout>
		</appender>
		<root>
			<level value="Info"/>
			<!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
			<appender-ref ref="BPS.EdOrg.Loader"/>
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="CrossWalkSchoolApiUrl" value="https://edfi.mybps.org:443/s3v5ys/api/data/v3/2025/ed-fi/schools"/>			
		<add key="InterchangeOrderFolder" value="C:\Workspace\BostonPublicSchool\Deployment\XsdFolder\Metadata" />		
		<add key="DataFilePathEdPlantoApen" value="C:\Workspace\BostonPublicSchool\Deployment\EdPlanToAspen.txt"/>			
		<add key="DataFilePathSpedSims" value="C:\Workspace\BostonPublicSchool\Deployment\SPEDsims.txt"/>
		<add key="XMLOutputPath" value="C:\Workspace\BostonPublicSchool\Deployment\Output"/>
		<add key="XMLDeploymentPath" value="C:\Workspace\BostonPublicSchool\Deployment\"/>
		<add key="JobFilePath" value="C:\Workspace\BostonPublicSchool\Deployment"/>		
		<add key="OAuthUrl" value="https://edfi.mybps.org:443/s3v5ys/api"/>		                           
		<add key="ApiUrl" value="https://edfi.mybps.org:443/s3v5ys/api/data/v3/2025/"/>
		<add key="SwaggerUrl" value="https://edfi.mybps.org:443/s3v5ys/api/metadata"/>
		<add key="SchoolYear" value="2026"/>		
		<add key="APP_Key" value="70FBFFC6CB5E46D9"/>
		<add key="APP_Secret" value="4FDA4BFD3D9B479A8265"/>
		<!--<add key="APP_Key" value="C8boMDX2fI4U" />
      <add key="APP_Secret" value="U1wGJ0euy2KzPEJCWvkxxKmp" />-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="CrossWalkStudentApiUrl" value="https://edfi.mybps.org:443/s3v5ys/api/data/v3/2025/ed-fi/students"/>
		<add key="CrossWalkStudentSpecialEducationApiUrl" value="https://edfi.mybps.org:443/s3v5ys/api/data/v3/2025/ed-fi/studentSpecialEducationProgramAssociations"/>
		<add key="XMLExtractedPath" value="C:\Workspace\BostonPublicSchool\Deployment\Aspen_in_XML\"/>
		<add key="XMLZip" value="Aspen_in_XML.zip"/>
		<add key="ShouldExecuteIEPLoad" value="true"/>
		<add key="ShouldExecuteAlertLoad" value="true"/>		
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>